html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  background-color: white;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 75px;
}

nav img {
  width: 75px;
  margin-left: 50px;
}

nav ul {
  display: inline;
  position: relative;
  top: 50px;
  padding-left: 100px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  padding-left: 80px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.main {
  height: 500px;
  position: relative;
  background-color: #333;
}

.paper {
  height: 10px;
  width: 200px;
  background-color: white;
  position: absolute;
  transition: bottom 1s linear, opacity 1s;
  left: 42%;
}

.paper-out {
  display: none;
}

#p1-start {
  opacity: 0;
  bottom: 50%;
}

#p1 {
  bottom: 0;

}

#p2-start {
  opacity: 0;
  bottom: 52%;
}

#p2 {
  bottom: 4%;
}

#p3-start {
  opacity: 0;
  bottom: 54%;
}

#p3 {
  bottom: 8%;
}

#p4-start {
  opacity: 0;
  bottom: 56%;
}

#p4 {
  bottom: 12%;
}

#p5-start {
  opacity: 0;
  bottom: 58%;
}

#p5 {
  bottom: 16%;
}

#p6-start {
  opacity: 0;
  bottom: 60%;
}

#p6 {
  bottom: 20%;
}

#p7-start {
  opacity: 0;
  bottom: 62%;
}

#p7 {
  bottom: 24%;
}

#p8-start {
  opacity: 0;
  bottom: 64%;
}

#p8 {
  bottom: 28%;
}

#sheath-start {
  opacity: 0;
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: 50%;
  right: 40%;
  background-color: blue;
}

#sheath {
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 40%;
  background-color: blue;
  transition: bottom 1s linear, opacity 1s;
}

#sheath-end {
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  transition: right 1s linear;
}

#box-label {
  background-image: url('MunderDifflinLogoWhite.jpg');
  background-size: cover;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 6%;
  right: 43%;
  animation-name: box-label;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

@keyframes box-label {
  0% {transform: scale(0);}
  80% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

#box-label-end {
  background-image: url('MunderDifflinLogoWhite.jpg');
  background-size: cover;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 6%;
  right: 3%;
  transition: right 1s linear;
}

.staff {
  display: grid;
  grid-template: 200px 200px 200px/200px 200px 200px 200px;
  position: relative;
  width: 80%;
  justify-content: center;
  grid-column-gap: 70px;
  grid-row-gap: 30px;

}

.staff div {
  height: 200px;
  text-align: center;
}

.staff div img {
  clip-path: circle(80px at center);
  height: 120px;
}

.logo {
  height: 150px;
  overflow: hidden;
  float:left;
}
