html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  background-color: white;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 75px;
  box-shadow: 5px 5px 20px #888;
}

nav img {
  width: 75px;
  margin-left: 50px;
}

nav ul {
  display: inline;
  position: relative;
  top: 30px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  padding-left: 80px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.main {
  height: 300px;
  position: relative;
  background-color:rgb(219, 219, 219);
  background-image: linear-gradient(rgb(237, 237, 237), rgb(191, 191, 191));
  box-shadow: inset 10px 10px 20px #888;
}

h2 {
  padding: 125px 0 0 50px;
  font-size: 4em;
  margin: 0;
}

.paper {
  height: 10px;
  width: 200px;
  background-color: white;
  position: absolute;
  transition: bottom 1s linear, opacity 1s;
  left: 42%;
}

.paper-out {
  display: none;
}

#p1-start {
  opacity: 0;
  bottom: 50%;
}

#p1 {
  bottom: 0;

}

#p2-start {
  opacity: 0;
  bottom: 52%;
}

#p2 {
  bottom: 4%;
}

#p3-start {
  opacity: 0;
  bottom: 54%;
}

#p3 {
  bottom: 8%;
}

#p4-start {
  opacity: 0;
  bottom: 56%;
}

#p4 {
  bottom: 12%;
}

#p5-start {
  opacity: 0;
  bottom: 58%;
}

#p5 {
  bottom: 16%;
}

#p6-start {
  opacity: 0;
  bottom: 60%;
}

#p6 {
  bottom: 20%;
}

#p7-start {
  opacity: 0;
  bottom: 62%;
}

#p7 {
  bottom: 24%;
}

#p8-start {
  opacity: 0;
  bottom: 64%;
}

#p8 {
  bottom: 28%;
}

#sheath-start {
  opacity: 0;
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: 50%;
  right: 40%;
  background-image: linear-gradient(rgb(185, 164, 117), rgb(122, 107, 74));
}

#sheath {
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 40%;
  background-image: linear-gradient(rgb(185, 164, 117), rgb(122, 107, 74));
  transition: bottom 1s linear, opacity 1s;
}

#sheath-end {
  height: 220px;
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(rgb(185, 164, 117), rgb(122, 107, 74));
  transition: right 1s linear;
}

#box-label {
  background-image: url('MunderDifflinLogoWhite.jpg');
  background-size: cover;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 6%;
  right: 43%;
  animation-name: box-label;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

@keyframes box-label {
  0% {transform: scale(0);}
  80% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

#box-label-end {
  background-image: url('MunderDifflinLogoWhite.jpg');
  background-size: cover;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 6%;
  right: 3%;
  transition: right 1s linear;
}

.products {
  height: 350px;
  width: 100%;
  background-color: whitesmoke;
}

.products h3 {
  font-size: 2em;
  padding: 20px;
  margin: 0;
}

.product-grid {
  display: grid;
  grid-template: 200px 30px / 25% 25% 25% 25%;
  grid-gap: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.product-grid div {
  width: 200px;
  overflow: hidden;
}

.product-grid img {
  height: 200px;
}

.recycling p {
  width: 50%;
  margin: 50px 0 50px 50px;
}

.staff {
  display: grid;
  grid-template: 200px 200px 200px/20% 20% 20% 20%;
  position: relative;
  width: 80%;
  justify-content: center;
  grid-column-gap: 70px;
  grid-row-gap: 30px;

}

.staff div {
  height: 200px;
  text-align: center;
}

.staff div img {
  clip-path: circle(80px at center);
  height: 120px;
}

.logo {
  height: 150px;
  overflow: hidden;
  float:left;
}
