html {
  font-family: sans-serif;
}

nav {
  position: fixed;
  background-color: white;
  z-index: 1;
  margin: 0;
}

nav img {
  width: 250px;
  margin-left: 50px;
}

nav ul {
  display: inline;
  position: relative;
  top: 100px;
  padding-left: 100px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  padding-left: 80px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}

.content {
  margin: 0 50px;
}

.slideshow {
  height: 500px;
  position: relative;
}

.slideshow img {
  display: block;
  margin: auto;
}

.recycling {
  position: relative;
  top: 300px;
}

.staff {
  display: grid;
  grid-template: 200px 200px 200px/200px 200px 200px 200px;
  position: relative;
  width: 80%;
  justify-content: center;
  margin: 400px 10% 0 10%;
  grid-column-gap: 70px;
  grid-row-gap: 30px;

}

.staff img {
  height: 120px;
  clip-path: circle(80px at center);
}

.logo {
  height: 150px;
  overflow: hidden;
  float:left;
}
